<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>controller.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManage</servlet-name>
        <servlet-class>controller.admin.AccountManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSkillController</servlet-name>
        <servlet-class>controller.admin.AdminSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRequestController</servlet-name>
        <servlet-class>controller.admin.AdminRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillsController</servlet-name>
        <servlet-class>controller.SkillsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMentorController</servlet-name>
        <servlet-class>controller.admin.AdminMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManage</servlet-name>
        <url-pattern>/admin/account_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSkillController</servlet-name>
        <url-pattern>/admin/SkillList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillsController</servlet-name>
        <url-pattern>/skills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMentorController</servlet-name>
        <url-pattern>/admin/MentorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRequestController</servlet-name>
        <url-pattern>/admin/ListRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index-five.html</welcome-file>
    </welcome-file-list>
</web-app>
