<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DemoController</servlet-name>
        <servlet-class>controller.DemoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>controller.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManage</servlet-name>
        <servlet-class>controller.admin.AccountManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillController</servlet-name>
        <servlet-class>controller.SkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSkill</servlet-name>
        <servlet-class>controller.AddNewSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkill</servlet-name>
        <servlet-class>controller.UpdateSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillsController</servlet-name>
        <servlet-class>controller.SkillsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>controller.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleManage</servlet-name>
        <servlet-class>controller.admin.ScheduleManage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoController</servlet-name>
        <url-pattern>/DemoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManage</servlet-name>
        <url-pattern>/admin/account_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillController</servlet-name>
        <url-pattern>/ListSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSkill</servlet-name>
        <url-pattern>/addSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkill</servlet-name>
        <url-pattern>/updateSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillsController</servlet-name>
        <url-pattern>/skills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/update_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleManage</servlet-name>
        <url-pattern>/admin/manage_schedule</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index-five.html</welcome-file>
    </welcome-file-list>
</web-app>
