<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DemoController</servlet-name>
        <servlet-class>controller.DemoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>controller.VerifyController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AccountManage</servlet-name>
        <servlet-class>controller.admin.AccountManage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoController</servlet-name>
        <url-pattern>/DemoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AccountManage</servlet-name>
        <url-pattern>/admin/account_admin</url-pattern>
    </servlet-mapping>
</web-app>
